#rank{
    border-collapse: collapse;
    text-align:center;
    display: inline-block;
    width:100px
}
#rank th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color:rgb(133, 28, 71);
    color: white;
  }
#rank td, #rank th {
    border: 1px solid #ddd;
    padding: 8px;
}
 .grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
  }
