#rank{
    border-collapse: collapse;
    width: 15%;
    text-align:center;
    display: inline-block;
    padding: 11px 139px 0px 115px;
}
#rank th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color:rgb(11, 85, 134);
    color: white;
  }
#rank td, #rank th {
    border: 1px solid #ddd;
    padding: 8px;
}